:root{
    --cep: calc(1em - 6px);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
    
}


body{
    background: #0a0a0a;
    color: #fff;
    /* header */

    & header{
        display: flex;
        align-items: center;
        padding: calc(var(--cep) * 2) calc(var(--cep) * 5);
        background: #1a1a1a;
        
        & ul{
            display: flex;
            justify-content: space-between;
            list-style: none;
            gap: calc(var(--cep) * 5);

            & li{
                cursor: pointer;
                transition: all 0.4s ease;
                border-bottom: #4d7cfe 1px solid;
                border-radius: 5px;
                padding: calc(var(--cep) * 1) ;

                &:hover{
                    background-image: linear-gradient(to top, #4d7cfe 40%, #1a1a1a 60%);
                    transform: translateY(-2px);
                }
                & a{
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }

    & .principal{
        display: flex;
        align-items: center;
        margin-left: calc(var(--cep) * 3);
        min-height: 85vh;
        
        & h1{
            overflow-y: hidden;
            font-size: calc(var(--cep) * 8);
            line-height: 1.1;
            margin-bottom: calc(var(--cep) * 0.2);
            letter-spacing: calc(var(--cep) * -0.05);

            & span{
                color: #ff6347;
            }

        }
        & p{
            font-size: calc(var(--cep) * 2);
            margin-block: calc(var(--cep) * 1.2);
            color: #ccc;
            max-width: calc(var(--cep) * 45);
        }

        & .botao{
            display: inline-block;
            padding: calc(var(--cep) * 1.5) calc(var(--cep) * 3);
            background-color: #4d7cfe;
            color: #fff;
            font-weight: bold;
            border-radius: calc(var(--cep) * 0.5);
            text-decoration: none;
            transition: all 1.0s ease;
        }
    }
    
    & .secao{
        padding: calc(var(--cep) * 10) calc(var(--cep) * 5);
        background-color: #1a1a1a;

        
        & .titulo-secao{
            font-size: calc(var(--cep) * 4.2);
            margin-bottom: calc(var(--cep) * 4);
            margin-left: calc(var(--cep) * 1);

            &::after{
                content: '';
                display: block;
                width: calc(var(--cep) * 5);
                height: calc(var(--cep) * 0.1);
                background-color: #4d7cfe;
            }
        }

        & .grade-projeto{
            margin-left: calc(var(--cep) * 1);
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(calc(var(--cep)*20), calc(var(--cep)* 30)));
            gap: calc(var(--cep) * 3);

            & .card-projeto{
                background-color: #161616;
                border-radius: calc(var(--cep) * 0.5);
                padding: calc(var(--cep) * 3);
                overflow: hidden;
                transition: all 0.5s ease;

                & img{
                    width: 100%;
                    height: calc(var(--cep) * 20);
                    object-fit: cover;
                    margin-bottom: calc(var(--cep) * 2);
                    border-radius: calc(var(--cep) * 0.5);
                }

                & .info-projeto{
                    display: flex;
                    flex-direction: column;
                    gap: calc(var(--cep) * 1);
                    margin-bottom: calc(var(--cep) * 2);

                    & h3{
                        font-size: calc(var(--cep) * 2.5);
                        color: #4d7cfe;
                        margin-bottom: calc(var(--cep) * 0.5);
                    }

                    & p{
                        font-size: calc(var(--cep) * 1.5);
                        color: #ccc;
                        line-height: 1.5;
                    }

                    & a{
                        text-decoration: none;
                        color: #4d7cfe;
                        font-weight: bold;
                        transition: all 0.3s ease;
                        margin-top: calc(var(--cep) * 1.2);
                        border: #4d7cfe 1px solid;
                        padding: calc(var(--cep) * 1.5);
                        border-radius: calc(var(--cep) * 0.5);
                        width: fit-content;

                        &:hover{
                            color: #fff;
                            border-color: #fff;
                            transform: translateY(1px);
                        }
                    }
                }
            }

            & .card-projeto:hover{
                transform: translateY(-10px);
                transition: all 0.3s ease;
            }
        }
    }
    .titulo-secao{
        font-size: calc(var(--cep) * 4.2);
        margin-bottom: calc(var(--cep) * 4);
        margin-left: calc(var(--cep) * 1);

        &::after{
            content: '';
            display: block;
            width: calc(var(--cep) * 5);
            height: calc(var(--cep) * 0.1);
            background-color: #4d7cfe;
        }

    }

    & .sobre{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
        & .imgperfil{
            height: calc(var(--cep) * 30);
            border-radius: 35%;
            margin-right: calc(var(--cep) * 3);
        }

        & .texto{
            max-width: calc(var(--cep) * 40);
            font-size: calc(var(--cep) * 1.5);
            line-height: 1.5;
            color: #ccc;

            & p{
                margin-block: calc(var(--cep) * 2);
            }
        }

        & .habilidades{
            display: flex;
            flex-wrap: wrap;
            gap: calc(var(--cep) * 0.5);
            margin-top: calc(var(--cep) * 3);
            list-style: none;

            & li{
                background-color: #4d7cfe;
                color: #fff;
                padding: calc(var(--cep) * 1) calc(var(--cep) * 2);
                border-radius: calc(var(--cep) * 0.5);
                font-size: calc(var(--cep) * 1.5);
                transition: all 0.3s ease;
                
                
                &:hover{
                    background-color: #fff;
                    color: #4d7cfe;
                    font-size: medium;
                    font-weight: bold;
                    transition: all 0.3s ease;
                }
            }
        }
    }

    & footer{
        margin-top: calc(var(--cep) * 7);
        height: 60vh;
        background-color: #1d1d1d;

        & .contato{
            display: flex;
            justify-content: space-around;
            height: 6em;



            & li:nth-child(1){ 
                /* margin-right: calc(var(--cep) * 2); */
                background-color: green;
                height: 4em;
                align-items: center;
                overflow-y: hidden;
                background-position: center;
                padding: 0.5em;
                border-radius: 50%;

                

                & a{
                    
                    & img{
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        object-fit: cover;
                        
                    }
                }

                &:hover{
                    transform: rotateZ(360deg);
                    transition: all 0.8s ease;
                    overflow: hidden;
                    
                }
            }

            & li:nth-child(2){
                /* margin-right: calc(var(--cep) * 2); */
                background-color: #7e0211;
                height: 4em;
                align-items: center;
                overflow-y: hidden;
                background-position: center;
                padding: 0.5em;
                border-radius: 50%;

                

                & a{
                    
                    & img{
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        object-fit: cover;
                        
                    }
                }
                &:hover{
                    transform: rotateZ(360deg);
                    transition: all 0.8s ease;
                    overflow: hidden;
                }
            }

        }

        & p{
            margin-top: auto;
            margin-bottom: calc(var(--cep) * 2);
            text-align: center;
        }
        max-height: 23em;
        overflow-y: hidden;

    }


}





@media (max-width: 768px) {
    
    body {
        padding: calc(var(--cep) * 0.3);
        & header {
            margin-block: calc(var(--cep) * 2);
            flex-direction: column;
            align-items: flex-start;
            padding: calc(var(--cep) * 2) calc(var(--cep) * 3);

                & ul {
                    display: flex;
                    flex-wrap: wrap;
                    gap: calc(var(--cep) * 0.5);

                    & li {
                        & a {
                            margin: 0;
                            padding: 0;
                            gap: 0;
                        }
                    }
                }
            

        }

        & .principal {
            flex-direction: column;
            align-items: flex-start;
            margin-left: calc(var(--cep) * 2);
            
            & h1 {
                margin-block: calc(var(--cep) * 1.3);
                font-size: calc(var(--cep) * 3);
                white-space: normal;
                overflow: visible;
                text-overflow: unset;

            }

            & p {
                font-size: calc(var(--cep) * 1.8);
                margin-block: calc(var(--cep) * 1.2);
            }

            & .botao {
                padding: calc(var(--cep) * 1) calc(var(--cep) * 2);
                margin-block: calc(var(--cep) * 1.2);
            }
        }

        & .secao {
            padding: calc(var(--cep) * 5) calc(var(--cep) * 3);

            & .grade-projeto {
                grid-template-columns: 1fr;
            }
        }

        & .sobre {
            flex-direction: column;
            align-items: center;

            & .imgperfil {
                margin-right: 0;
                margin-bottom: calc(var(--cep) * 2);
            }

            & .texto {
                text-align: center;
            }

            & .habilidades {
                justify-content: center;
            }
        }
    }
}
